.navbar {
    background-color: #FFFFFF;
}

nav h1 {
    font-family: "Ubuntu", sans-serif;
    color: #C4C4C4;
}

i, #cpwNavbar {
    font-family: "Roboto", sans-serif;
    color: #000000;
}

.jumbotron {
    margin: 0;
}

.cropped {
    height: 800px;
    overflow: hidden;
}

.cropped img {
    margin-top: -300px;
}

.site-footer {
    background-color: #464648;
    padding: 20px 0;
}

.site-footer h2 {
    font: 48px "Roboto", sans-serif;
    color: #000000;
}

.site-footer h3 {
    font: 14px "Roboto", sans-serif;
    color: #000000;
}